[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest-cov = "*"
flake8 = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
heroku3 = "*"
django-s3-folder-storage = "*"
codecov = "*"
collectfast = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
