<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em contato</h3>
                <address>
                    +55 19 9 9260-1282
                    <br/>
                    <a href="mailto:{{contato_email}}" class="text-light">{{contato_email}}</a>

                </address>
                <div class='social-profiles-widget'>
<a href='http://facebook.com/' target='_blank'><img alt='Facebook' src='http://1.bp.blogspot.com/-nv46iRQK3X4/U8iX4shPe9I/AAAAAAAALnM/nYuMF8B-Mvo/s1600/facebook.png' title='Facebook'/></a>
<a href='http://instagram.com/' target='_blank'><img alt='Instagram' src='http://2.bp.blogspot.com/-9qHtPdtA-gE/U8iX531XNwI/AAAAAAAALnk/6wD_u6wtZhs/s1600/instagram.png' title='Instagram'/></a>

</div>
            </div>
        </div>
    </div>
    <div class="rights pt-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Pedro. Todos direitos reservados.
                </div>
            </div>
        </div>
    </div>

</footer>